/* ======================== */
/* 1. ESTILOS GLOBAIS      */
/* ======================== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

a {
    color: #461F71;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ======================== */
/* 2. ESTILOS DE LOGIN E CADASTRO */
/* ======================== */

/* Estilos aplicados somente à página de login e cadastro */
.login-page, .register-page {
    background-color: #551c8e; /* Fundo roxo da tela de login */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.system-title {
    color: white;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    text-shadow:  0 0 5px #333;
}

.login-container {
    background: white;
    padding: 20px 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px #ccc;
    width: 320px;
}

.register-container {
    display: block;
    padding: 20px 30px;
    width: 360px;
    margin: auto;
}

.multi-boxes {
    height: 180px;
}

.login-container h2, .register-container h2 {
    margin-top: 0;
}

.error-message {
    background-color: #ffdddd;
    color: #a94442;
    border: 1px solid #a94442;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.login-container input, 
.login-container button,
.register-container input,
.register-container button,
.register-container select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.login-container button, .register-container button {
    background-color: #461F71;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-container button:hover, .register-container button:hover {
    background-color: #906891;
}

/* ======================== */
/* 3. ESTILOS DA DASHBOARD */
/* ======================== */

.dashboard-page {
    background-color: #f6f6f6; /* Fundo cinza para a dashboard */
}

/* Estilos do menu */
.dashboard-page .menu {
    background-color: #461F71;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.dashboard-page .menu .logo {
    font-size: 20px;
    font-weight: bold;
}

.dashboard-page .menu .logo p {
    margin-top: 15px;
}

/* ======================== */
/* 3. ESTILOS DA BUSCAR_MIDIAS */
/* ======================== */

.bi-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}